@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');

:root {
  --regular-size: 20px;
  font-family: 'Assistant', sans-serif;
  color: black;
}

#main,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  text-align: right;
  font-family: 'Assistant', sans-serif !important;
  color: black;
}

html {
  font-size: 16px;
  direction: rtl;
  text-align: right;
  font-family: 'Assistant', sans-serif !important;
}

/* עיצוב החלק המרכזי */
main {
  padding: 1rem 2rem 1rem 2rem;
  background-color: #2d327b;
}

.container{
  position: relative;
}


.btn-mobile img {
  width: 2rem;
  z-index: 2;
  position: relative !important;
}

.btn-mobile {
  z-index: 2;
  border: none;
  background-image: none;
  position: relative !important;
}


.APopUp {
  display: inline-block;
  /* Ensure the anchor tag behaves like a block element */
  padding: 8px 16px;
  /* Add padding for better readability and spacing */
  color: #fff;
  /* Text color */
  background-color: #007bff;
  /* Blue background color */
  text-decoration: none;
  /* Remove underline */
  border-radius: 4px;
  /* Rounded corners */
  transition: background-color 0.3s, color 0.3s;
  /* Smooth transition for color and background change */
  text-align: center;
}

.APopUp :hover {
  background-color: #0056b3;
  color: #fff;
  font-weight: 600;

}

.filter-btn {
  background-color: #00b1e2;
}

.filter-btn :hover {
  background-color: #0d9cc4;
}

.flex-container-nav {
  display: flex;
  gap: 20px;
  background-color: #00b1e2;
  padding: 15px;
  flex-direction: column;
  position: absolute;
  list-style: none;
  z-index: 3;
}

.flex-container-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;

}

.flex-container-nav.hide-mobile {
  display: none;
}


.hide {
  display: block;
}


/* הגדרות כלליות - כותרות ופסקאות */
h1 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1rem;
}

/* הגדרות במסכים ברוחב מעל 576 פיקסל */
@media only screen and (min-width: 576px) {
  html {
    font-size: 24px;
  }

  /* עיצוב החלק המרכזי */
  main {
    padding: 1rem 5rem 1rem 5rem;
  }

  /* הסתרת תפריט המבורגר במסך גדול */
  .btn-mobile {
    display: none;
  }

  /* עימוד התפריט בשורה במסך גדול ושינוי צבע */
  .flex-container-nav {
    flex-direction: row;
    padding: 1rem;
    background-color: #00b1e2;
    position: relative;
    height: unset;
    width: 100%;
    top: 0;
    z-index: 3;
  }

  /* הצגת התפריט פתוח במסך גדול */
  .flex-container-nav.hide-mobile {
    display: flex;
  }

  /* עיצוב פריטי התפריט */
  .flex-container-nav li {
    margin-left: 1rem;
    margin-bottom: 0;
  }


  /* במסך גדול כותרת לא ממורכזת */
  h1 {
    text-align: right;
  }


  #headerPic {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /* Make it span the entire width */
    height: auto;
    /* Adjust the height as needed */
    z-index: -1;
    /* Ensure it stays behind the navigation menu */
    background-image: url('../img/PicHeader.jpg');
    background-size: cover;
    /* Cover the entire container */
    background-position: center;
    margin-top: -24px !important;

  }

}



#headerPic {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* Make it span the entire width */
  height: 419px;
  /* Adjust the height as needed */
  z-index: -1;
  /* Ensure it stays behind the navigation menu */
  background-image: url('../img/PicHeader.jpg');
  background-size: cover;
  /* Cover the entire container */
  background-position: center;
  margin-top: -35px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: baseline;

}

#headerPic h1 {
  display: flex;
  text-align: center;
  color: black;
  font-weight: 700;

}

/* Style the header: fixed position (always stay at the top) */
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%; 
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%; 
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}

